@model CreateModel
@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <div class="col s6 offset-s3 center"><h2> *Нанять работягу* </h2></div>
    <div class="input-field col s12">
        @Html.ValidationMessageFor(Model => Model.login)
        @Html.TextBoxFor(Model => Model.login, new { id = "Login" })
        <label for="Login">Login</label>
    

    </div>
    <div class="input-field col s12">
        @Html.ValidationMessageFor(Model => Model.password)
        @Html.TextBoxFor(Model => Model.password, new { id = "Pass" })
        <label for="Pass">Password</label>

    </div>
    <div class="input-field col s12">
        @Html.ValidationMessageFor(Model => Model.Name)
        @Html.TextBoxFor(Model => Model.Name, new { id = "Name" })
        <label for="Name">Name</label>

    </div>
    <div class="input-field col s12">
        @Html.ValidationMessageFor(Model => Model.SurName)
        @Html.TextBoxFor(Model => Model.SurName, new { id = "Date" })
        <label for="Date">SurName</label>

    </div>
    <div class="input-field col s12">
        @Html.ValidationMessageFor(Model => Model.Age)
        @Html.TextBoxFor(Model => Model.Age, new { id = "Age" })
        <label for="Name">Age</label>
       
    </div>
    <div class="input-field col s12">
        @Html.ValidationMessageFor(Model => Model.Salary)
        @Html.TextBoxFor(Model => Model.Salary, new { id = "Salary" })
        <label for="Name">Salary</label>

    </div>
    <div class="input-field col s12">

            Html.DropDownListFor(Model => Model.selectListItems, new SelectList(Model.selectListItems, "Text", "Text"))


    </div>
    <input type="submit" class="btn col s12 red pulse" value="Create" />
}
<script>
    $(function () {
        $('select').formSelect();
        $('.datepicker').datepicker();
        $("input[type='hidden']").each(function (index, element) {
            $(this).appendTo($(element).parent());
        });
    });
</script>