@model IEnumerable<IndexModel>
@{
    ViewBag.Title = "Home Page";
}


<br />
<a href="~/Home/Create" class="col s6 offset-s3 btn red pulse" style="text-align:center">CREATE NEW EMP</a>
<br />
<div class="col s6 offset-s3" style="text-align:center"><h2>EMPS TABLE</h2></div>

<table class="centered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>SurName</th>
            <th>Age</th>
            <th>Salary</th>
            <th>DEP_NAME</th>
            <th>DEP_DESC</th>

        </tr>
    </thead>

    <tbody>

        @{
            int counter = 0;
            foreach (IndexModel p in Model)
            {
                counter++;
        <tr>
            <td>@counter</td>
            <td>@p.Name</td>
            <td>@p.SurName</td>
            <td>@p.Age</td>
            <td>@p.Salary грн.</td>
            <td>@p.Deportament_name</td>
            <td>@p.Deportament_desc</td>
        </tr>
            }
        }


    </tbody>


</table>
<div id="result">

</div>

